@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

/*********************************************************************************************/
body {
    display: grid;

    grid-template-areas: "navbar" "aside" "main" "footer";
    grid-template-rows: 8% 8% auto 41%;
    height: 100vh;
}

/*********************************************************************************************/
aside {
    grid-area: aside;
    background-color: #040303;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-animacion {
    display: none;
}

.menu-texto {
    display: none;
}

.opcionViaje{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px 10px;
    /*border: 1px solid #e6d815;*/
}

button {
    background-color: #B3541E;
    font-size: 12px;
    border-radius: 0.5rem;
    width: 75px;
    padding-top: 10px;
    padding-bottom: 10px;
}

button:hover {
    cursor: pointer;
    animation:sombra 0.3s linear both;
}

@keyframes sombra {
    0% {
        box-shadow:0 0 0 0 transparent
    }
    
    100% {
        box-shadow:0 0 20px 0 rgba(255,255,255,.55)
    }
}

.boton {
    text-decoration: none;
    color:white;    
}

/*********************************************************************************************/
.navbar {
    grid-area: navbar;
    background-color: #A13333;
    color: white;

    display: flex;
    /*border: 1px solid rgb(14, 12, 12);*/
}

.menu-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%; 
    /*border: 1px solid rgb(255, 0, 234);*/
}
    
.menu-logo > img {
    width: 100%; 
    padding-left: 10px;
    /*border:1px solid rgb(76, 0, 255)*/
}

.avion-volando {
    animation: avionvibra 0.3s linear infinite both;
}

@keyframes avionvibra {
    0% {
      transform: translate(0);
    }
    20% {
      transform: translate(-2px, 2px);
    }
    40% {
      transform: translate(-2px, -2px);
    }
    60% {
      transform: translate(2px, 2px);
    }
    80% {
      transform: translate(2px, -2px);
    }
    100% {
      transform: translate(0);
    }
  }
  
.icontext i {
    color: #ffff00;
}

.icontext {
    display: flex;
    flex-wrap: nowrap;
    gap: 15px;
    justify-content: center;
    align-items: center;

    position: relative;
    animation: vuela 10s ease-in-out infinite;
    /*border: 1px solid #0cc006;*/
}

@keyframes vuela {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100vw);
    }
}

/*********************************************************************************************/
main {
    grid-area: main;
    background-color: #461111;
    padding: 1.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #ff6e19;
    /*border: 1px solid rgb(22, 41, 211);*/
}

.destinos {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.titulo-seccion {
    width: 100%;

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
    /*border: 1px solid rgb(191, 228, 25);*/
}

.subir {
    color: #ff6e19;
}

.subir:hover {
    animation:sombra 0.3s linear both;
}

.paises {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 18px; 
    padding: 10px;
    /*border:1px solid rgb(134, 9, 97)*/
}

.card {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*border:1px solid rgb(76, 0, 255)*/
}

.box {
    width: 100%; 
    margin-bottom: 10px;
    /*border:1px solid red*/
}

.box > img {
    width: 100%;
    min-height: 100%;

    filter: grayscale(100%);
    transition: 0.5s;
    /*border:1px solid rgb(76, 0, 255)*/
}

.box > img:hover {
    filter: grayscale(0%);
    transition: 0.5s;
    transform: scale(1.05);
}

/*********************************************************************************************/
footer {
    grid-area: footer;
    background-color:#A13333;
    color: #ffffff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    padding: 8px;
    gap: 16px; 
    /*border: 1px solid rgb(255, 47, 186);*/
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%; 
    /*border: 1px solid rgb(255, 0, 234);*/
}

.logo > img {
    width: 100%; 
    /*border:1px solid rgb(76, 0, 255)*/
}
    
.footer-text {
    font-size: 15px;
    margin-bottom: 10px;
    /*border:1px solid rgb(106, 185, 15)*/
}

.redes {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 25px;

    /*border:1px solid rgb(76, 0, 255)*/
}

.link:hover {
    /*cursor: pointer;*/
    animation:sombra 0.3s linear both;
}

.subir-footer {
    font-size: 20px;
    /*border:1px solid rgb(106, 185, 15)*/
}

.subir-footer:hover {
    animation:sombra 0.3s linear both;
}

/*********************************************************************************************/

/* MEDIA QUERY */

@media (width >= 992px) {
    body {
        grid-template-areas: "navbar navbar" "aside main" "footer footer";
        grid-template-columns: 16% auto;
        grid-template-rows: 16% auto 16%;
    }

    h4 {
        font-size: 20px;
    }

    .icontext i {
        font-size: 30px;
    }

    .navbar{
        padding-left: 10px;
    }

    .menu-logo {
        width: 6%; 
        /*border: 1px solid rgb(255, 0, 234);*/
    }

    aside {
        justify-content: flex-start;
        flex-direction: column;
        padding-top: 2rem;
        color: white;
        gap: 15px;
        /*border:1px solid green;*/
    }

    .menu-texto {
        text-align: center;
        margin-bottom: 10px;

        display: flex;
        /*border:1px solid green;*/
    }
    
    .menu-animacion {
        position: relative;
        width: 150px;
        height: 150px;

        display: flex;
        align-items: center;
        justify-content: center;
        /*border: 1px solid green;*/
    }

    .icono-globo {
        font-size: 40px; 
        position: relative;
        z-index: 2;
        animation: globogira 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both infinite;
    }

    @keyframes globogira {
        0% {
          transform: rotateY(0);
        }
        100% {
          transform: rotateY(360deg);
        }
      }

    .icono-avion {
        font-size: 20px; 
        position: absolute;
        top: 10px; 
        left: 50%;

        transform: translate(-50%, 0);
        transform-origin: 0 60px; 
        animation: orbitarPegado 5s linear infinite; 
    }

    @keyframes orbitarPegado {
        0% {
            transform: rotate(0deg) translateX(60px) rotate(180deg); 
        }
        100% {
            transform: rotate(360deg) translateX(60px) rotate(180deg); 
        }
    }

    .opcionViaje{
        justify-content: center;
        padding: 5px 5px;
        width: 100%;
        /*border: 1px solid #e6d815;*/
    }
    
    button {
        font-size: 15px;
        width: 140px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
       
    .titulo-seccion {
        justify-content:flex-start;
        gap: 20px;
    }
  
    main {
        gap: 30px;
    }

    .paises {
        width: 100%;

        flex-direction: row;
        flex-wrap:wrap;
        justify-content: space-between;
    }
    
    .card {
        width: 30%;
    }
 
    footer {
       flex-direction: row;
       gap: 40px;
    }

    .logo {
        width: 6%;
    }

   .contacto {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 5px;
        /*border: 1px solid white;*/
    }
}
